<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- vo 객체들의 풀 네임을 사용하기 번거롭기 때문에 별칭을 등록하는 부분 -->
<typeAliases>
		<typeAlias type="model.service.accidentReceipt.AccidentReceipt" alias="AccidentReceipt"/>
		<typeAlias type="model.service.insurance.CancerInsurance" alias="CancerInsurance"/>
		<typeAlias type="model.service.insurance.CarInsurance" alias="CarInsurance"/>
		<typeAlias type="model.service.insurance.ContractCondition" alias="ContractCondition"/>
		<typeAlias type="model.service.customer.Customer" alias="Customer"/>
		<typeAlias type="model.service.insurance.FireInsurance" alias="FireInsurance"/>
		<typeAlias type="model.service.insurance.Insurance" alias="Insurance"/>
		<typeAlias type="model.service.insuranceDesign.InsuranceDesign" alias="InsuranceDesign"/>
		<typeAlias type="model.service.login.Login" alias="Login"/>
		<typeAlias type="model.service.salesPerson.SalesPerson" alias="SalesPerson"/>
	</typeAliases>
<!--기본적인 DB정보 설정  -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/insurance?serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
 <!--연결할  mapper resource 등록  -->
  <mappers>
    <mapper resource="resources/mappers/accidentReceipt-mapper.xml"/>
    <mapper resource="resources/mappers/cancerInsurance-mapper.xml"/>
    <mapper resource="resources/mappers/carInsurance-mapper.xml"/>
    <mapper resource="resources/mappers/contractCondition-mapper.xml"/>
    <mapper resource="resources/mappers/customer-mapper.xml"/>
    <mapper resource="resources/mappers/fireInsurance-mapper.xml"/>
    <mapper resource="resources/mappers/insurance-mapper.xml"/>
    <mapper resource="resources/mappers/insuranceDesign-mapper.xml"/>
    <mapper resource="resources/mappers/login-mapper.xml"/>
    <mapper resource="resources/mappers/salesPerson-mapper.xml"/>
  </mappers>
</configuration>