<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarInsurance">
<!--type : 사용될 클래스(mybatis-config.xml에서 alias해줌) -> ex) control.accidentReceipt.AccidentReceipt = AccidentReceipt  -->
<!--id : resultMap이름으로 사용될 id 설정  -->
    <resultMap type="CarInsurance" id="CarInsurance">
    <!--id : primary key로 사용되는 column / property : 해당 column의 값과 매치되는 (클래스에서 사용되는)변수이름  -->
        <id column="id" property="age" />
        <result column="age" property="age" />
        <result column="driver" property="driver" />
        <result column="carnum" property="carNum" />
        <result column="caraccidenthistory" property="carAccidentHistory"/>
        <result column="cartype" property="carType" />
        <result column="paymentdate" property="paymentDate"/>
        <result column="paymentmethod" property="paymentMethod" />
        <result column="customer_id" property="customerId" />
        
        <association column="insurance_id" property="insurance" javaType="Insurance">
        	<id column="insuranceid" property="insuranceId" />
        	<result column="insuranceType" property="insuranceType" />
        	<result column="insurancedescription" property="insuranceDescription" />
        	<result column="insurancename" property="insuranceName" />
        </association>
    </resultMap>
    
    <select id="Select" resultMap="CarInsurance">
        SELECT * FROM carinsurance, insurance
		WHERE carinsurance.insurance_id = insurance.insuranceid
		AND carinsurance.customer_id =#{customer_id}
    </select>
    
    <insert id="Insert" parameterType="CarInsurance">
    	INSERT INTO carinsurance 
		VALUES (#{id}, #{age}, #{driver}, #{carNum}, #{carAccidentHistory}, #{carType},
		 #{paymentDate}, #{paymentMethod}, #{insuranceId}, #{customerId})
    </insert>
    
    <delete id="Delete" parameterType="Integer">
    	DELETE FROM carinsurance
    	WHERE customer_id = #{customer_id}
    </delete>   
</mapper>
